<?xml version="1.0" ?>

<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <material name="orange">
        <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
    </material>

    <material name="TEST_COL">
        <color rgba="0.4196078431372549 0.48627450980392156 0.5215686274509804 0.5" />
    </material>

    <material name="TEST_COL_1">
        <color rgba="0.4549019607843137 0.5450980392156862 0.592156862745098 0.7" />
    </material>

    <xacro:arg name="velodyne_VLP-16_enable" default="false" />
    <xacro:arg name="velodyne_HDL-32E_enable" default="false" />
    <xacro:arg name="Ouster_os1_64_enable" default="false" />
    <xacro:arg name="Livox_avia_enable" default="false" />    

    <xacro:include filename="$(find urdf_ex)/urdf/inertia_macro.urdf.xacro"/>
    <xacro:include filename="$(find urdf_ex)/urdf/gazebo.urdf.xacro"/>
    <xacro:include filename="$(find urdf_ex)/urdf/insert_transmission.urdf.xacro"/>

    <link name="base_footprint"/>

    <link name="base_link">
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.32 0.40 0.16"/>
            </geometry>
        </collision>

        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.32 0.40 0.16"/>
            </geometry>
            <material name="TEST_COL"/>
        </visual>

        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="30"/>
            <xacro:box_inertia m="30.0" x="0.32" y="0.40" z="0.16"/>
        </inertial>
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <origin rpy="0 0 -1.57" xyz="0 0 0.11"/>
        <child link="base_link"/>
    </joint>

    <xacro:macro name="rear_caster" params = "prefix dir">
        <link name="rear_caster_rotate_${prefix}">
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder length="0.02" radius="0.03"/>
                </geometry>
            </collision>

            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <cylinder length="0.02" radius="0.03"/>
                </geometry>
                <material name="orange"/>
            </visual>

            <inertial>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <mass value="0.1"/>
                <xacro:cylinder_inertia m="0.1" r="0.03" h="0.02"/>
            </inertial>
        </link>
        
        <joint name="rear_caster_rotate_joint_${prefix}" type="continuous">
            <parent link="base_link"/>
            <child link="rear_caster_rotate_${prefix}"/>
            <origin rpy="0 0 0" xyz="${dir*0.19} 0.17 -0.04"/>
            <axis xyz="0 0 1"/>
        </joint>

        <link name="rear_caster_wheel_${prefix}">
            <collision>
                <origin xyz="0 0 0.0" rpy="0 ${pi/2} 0"/>
                <geometry>
                <cylinder length="0.02" radius="0.03"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 0.0" rpy="0 ${pi/2} 0"/>
                <geometry>
                <cylinder length="0.02" radius="0.03"/>
                </geometry>
                <material name="TEST_COL_1"/>
            </visual>

            <inertial>
                <origin xyz="0 0 0.0" rpy="0 ${pi/2} 0"/>
                <mass value="0.1"/>
                <xacro:cylinder_inertia m="0.1" r="0.03" h="0.02"/>
            </inertial>
        </link>
        
        <joint name="rear_caster_wheel_joint_${prefix}" type="continuous">
            <parent link="rear_caster_rotate_${prefix}"/>
            <child link="rear_caster_wheel_${prefix}"/>
            <origin rpy="0 0 0" xyz="0 -0.02 -0.04"/>
            <axis xyz="1 0 0"/>
            <limit effort="1000000" velocity="20.0"/>
        </joint>
    </xacro:macro>
    <xacro:rear_caster prefix="L" dir = "-1"/>
    <xacro:rear_caster prefix="R" dir = "1"/>

    <xacro:macro name="front_caster" params = "prefix dir">
        <link name="front_caster_rotate_${prefix}">
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder length="0.02" radius="0.03"/>
                </geometry>
            </collision>

            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <cylinder length="0.02" radius="0.03"/>
                </geometry>
                <material name="orange"/>
            </visual>

            <inertial>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <mass value="0.1"/>
                <xacro:cylinder_inertia m="0.1" r="0.03" h="0.02"/>
            </inertial>
        </link>
        
        <joint name="front_caster_rotate_joint_${prefix}" type="continuous">
            <parent link="base_link"/>
            <!--origin rpy="0 0 0" xyz="0.16 0.1 -0.015"/-->
            <child link="front_caster_rotate_${prefix}"/>
            <origin rpy="0 0 0" xyz="${dir*0.19} -0.17 -0.04"/>
            <axis xyz="0 0 1"/>
        </joint>

        <link name="front_caster_wheel_${prefix}">
            <collision>
                <origin xyz="0 0 0.0" rpy="0 ${pi/2} 0"/>
                <geometry>
                <cylinder length="0.02" radius="0.03"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 0.0" rpy="0 ${pi/2} 0"/>
                <geometry>
                <cylinder length="0.02" radius="0.03"/>
                </geometry>
                <material name="TEST_COL_1"/>
            </visual>

            <inertial>
                <origin xyz="0 0 0.0" rpy="0 ${pi/2} 0"/>
                <mass value="0.1"/>
                <xacro:cylinder_inertia m="0.1" r="0.03" h="0.02"/>
            </inertial>
        </link>
        
        <joint name="front_caster_wheel_joint_${prefix}" type="continuous">
            <parent link="front_caster_rotate_${prefix}"/>
            <child link="front_caster_wheel_${prefix}"/>
            <origin rpy="0 0 0" xyz="0 -0.02 -0.04"/>
            <axis xyz="1 0 0"/>
            <limit effort="1000000" velocity="20.0"/>
        </joint>
    </xacro:macro>
    <xacro:front_caster prefix="L" dir = "-1"/>
    <xacro:front_caster prefix="R" dir = "1"/>

    <xacro:macro name="wheel" params = "prefix dir">
        <link name="Wheel_${prefix}">
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0.0"/>
                <geometry>
                <cylinder length="0.03" radius="0.07"/>
                </geometry>
            </collision>

            <visual>
                <origin rpy="0 0 0" xyz="0 0 0.0"/>
                <geometry>
                <cylinder length="0.03" radius="0.07"/>
                </geometry>
                <material name="TEST_COL_1"/>
            </visual>

            <inertial>
                <origin rpy="0 0 0" xyz="0 0 0.0"/>
                <mass value="2"/>
                <xacro:cylinder_inertia m="2.0" r="0.07" h="0.03"/>
            </inertial>
        </link>

        <joint name="Wheel_joint_${prefix}" type="continuous">
            <parent link="base_link"/>
            <child link="Wheel_${prefix}"/>
            <origin rpy="0 1.57 3.14" xyz="${dir*0.18} 0 -0.04"/>
            <axis xyz="0 0 1"/>
            <limit effort="1000000" velocity="20.0"/>
        </joint>
    </xacro:macro>
    <xacro:wheel prefix="L" dir = "-1"/>
    <xacro:wheel prefix="R" dir = "1"/>

    <xacro:insert_velocity_transmission name="Wheel_joint_R"/>
    <xacro:insert_velocity_transmission name="Wheel_joint_L"/>

    <xacro:if value="$(arg velodyne_VLP-16_enable)">
        <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
        <xacro:VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440" gpu="false">
            <origin xyz="0 0 0.08" rpy="0 0 0" />
        </xacro:VLP-16>
    </xacro:if> 

    <xacro:if value="$(arg velodyne_HDL-32E_enable)">
        <xacro:include filename="$(find velodyne_description)/urdf/HDL-32E.urdf.xacro"/>
        <xacro:HDL-32E parent="base_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440" gpu="false">
            <origin xyz="0 0 0.08" rpy="0 0 0" />
        </xacro:HDL-32E>
    </xacro:if> 

    <xacro:if value="$(arg Ouster_os1_64_enable)">
        <xacro:include filename="$(find ouster_os1_64)/urdf/os1_64.urdf.xacro"/>
        <xacro:os1_64 parent="base_link" name="ouster" prefix="/velodyne_points" hz="10" samples="512">
            <origin xyz="0 0 0.35" rpy="0 0 0" />
        </xacro:os1_64>
    </xacro:if> 

    <xacro:if value="$(arg Livox_avia_enable)">
        <joint name="joint1" type="fixed">
            <parent link="base_link"/>
            <child link="livox_base"/>
            <origin xyz="0.0 0 0.2" rpy="0 0 0" />
        </joint>

        <xacro:include filename="$(find livox_laser_simulation)/urdf/livox_avia.xacro"/>
        <xacro:Livox_AVIA name="livox"/>
    </xacro:if> 

    <joint name="imu_joint" type="fixed">
            <parent link="base_link"/>
            <child link="imu_link"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>

    <link name="imu_link"></link>


    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>"imu"</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
            <topicName>imu</topicName>
            <bodyName>imu_link</bodyName>
            <updateRateHZ>100.0</updateRateHZ>
            <gaussianNoise>0.0</gaussianNoise>
            <xyzOffset>0 0 0</xyzOffset>
            <rpyOffset>0 0 0</rpyOffset>
            <frameName>imu_link</frameName>
            <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!-- CAMERA -->
    <joint name="camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_link"/>
        <origin xyz="0.0 0.185 0.30" rpy="0 0 0"/>
    </joint>

    <link name="camera_link">
        <visual>
            <geometry>
                <box size="-0.1 0.03 0.03"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="-0.1 0.03 0.03"/>
            </geometry>
        </collision>
    </link>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
    </joint>

    <link name="camera_link_optical">
    </link>

    

</robot>
